body{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

img{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

div.sticker.size_5{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}